<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    <ion-button (click)="PresentModal()">
      dksjfdsk
    </ion-button>



  </div>
</ion-content>
